a.card {
    color: inherit;
    text-decoration: none;
}

.mkdown {
    margin-bottom: 50vh;
    img {
        @extend .img-fluid;
        height: auto;
        @media (max-width: 576px) {
            max-width: 40vw;
        }
        @media (min-width: 992px) {
            max-width: 50%;
        }
    }
}
@import "../../node_modules/bootstrap/scss/bootstrap";